##**Import Library**

In [ ]:
# Data loading and data analysis
import pandas as pd

# Data preprocessing
from sklearn.preprocessing import LabelEncoder

# Modelling
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

##**Data Preprocession**

In [ ]:
coffee = pd.read_csv('/content/coffee_clean.csv')
coffee.head(5)

,Unnamed: 0,name,origin,rating,roaster,aroma,acid,body,flavor,aftertaste,desc_1,desc_2,desc_3
0,0,“Sweety” Espresso Blend,Panama; Ethiopia,95,A.R.C.,9.0,0.0,9.0,9.0,9.0,"Evaluated as espresso. Sweet-toned, deeply ric...",An espresso blend comprised of coffees from Pa...,A radiant espresso blend that shines equally i...
1,1,Flora Blend Espresso,Africa; Asia Pacific,94,A.R.C.,9.0,0.0,9.0,9.0,8.0,"Evaluated as espresso. Sweetly tart, floral-to...",An espresso blend comprised of coffees from Af...,"A floral-driven straight shot, amplified with ..."
2,2,Ethiopia Shakiso Mormora,"Guji Zone, southern Ethiopia",92,Revel Coffee,9.0,8.0,8.0,9.0,8.0,"Crisply sweet, cocoa-toned. Lemon blossom, roa...",This coffee tied for the third-highest rating ...,"A gently spice-toned, floral- driven wet-proce..."
3,3,Ethiopia Suke Quto,"Guji Zone, Oromia Region, south-central Ethiopia",92,Roast House,8.0,8.0,9.0,9.0,8.0,"Delicate, sweetly spice-toned. Pink peppercorn...",This coffee tied for the third-highest rating ...,Lavender-like flowers and hints of zesty pink ...
4,4,Ethiopia Gedeb Halo Beriti,"Gedeb District, Gedeo Zone, southern Ethiopia",94,Big Creek Coffee Roasters,9.0,9.0,9.0,9.0,8.0,"Deeply sweet, subtly pungent. Honey, pear, tan...",Southern Ethiopia coffees like this one are pr...,A deeply and generously lush cup saved from se...

In [ ]:
# Drop unused column
coffee.drop(['Unnamed: 0'], inplace=True, axis=1)

In [ ]:
data = coffee.filter(['aroma', 'acid', 'body', 'flavor', 'aftertaste', 'name'])
data.head(5)

   aroma  acid  body  flavor  aftertaste                        name
0    9.0   0.0   9.0     9.0         9.0     “Sweety” Espresso Blend
1    9.0   0.0   9.0     9.0         8.0        Flora Blend Espresso
2    9.0   8.0   8.0     9.0         8.0    Ethiopia Shakiso Mormora
3    8.0   8.0   9.0     9.0         8.0          Ethiopia Suke Quto
4    9.0   9.0   9.0     9.0         8.0  Ethiopia Gedeb Halo Beriti

In [ ]:
data.rename(columns=({'name':'label'}), inplace=True)
data.head(5)

   aroma  acid  body  flavor  aftertaste                       label
0    9.0   0.0   9.0     9.0         9.0     “Sweety” Espresso Blend
1    9.0   0.0   9.0     9.0         8.0        Flora Blend Espresso
2    9.0   8.0   8.0     9.0         8.0    Ethiopia Shakiso Mormora
3    8.0   8.0   9.0     9.0         8.0          Ethiopia Suke Quto
4    9.0   9.0   9.0     9.0         8.0  Ethiopia Gedeb Halo Beriti

##**Modelling**

In [ ]:
X = data.iloc[:, 0:-1]
y = data.iloc[:, -1]

In [ ]:
model = svm.SVC()
model_2 = KNeighborsClassifier()
model_3 = RandomForestClassifier(n_estimators=100)

**SVM**

In [ ]:
model.fit(X.values, y)

SVC()

In [ ]:
svm_pred = model.predict([[9.0, 9.0, 9.0, 9.0, 8.0]])
print(svm_pred)

['Yule Blend 2018']

In [ ]:
coffee[coffee['name'] == 'Yule Blend 2018']

,name,origin,rating,roaster,aroma,acid,body,flavor,aftertaste,desc_1,desc_2,desc_3
49,Yule Blend 2018,"Kirinyaga District, south-central Kenya",94,Flight Coffee Co.,9.0,9.0,9.0,9.0,8.0,"Crisp, sweet-savory. Mulberry, pink peppercorn...",This coffee tied for the third-highest rating ...,"A balanced, savory-leaning and richly sweet bl..."

**KN Classifier**

In [ ]:
model_2.fit(X.values, y)

KNeighborsClassifier()

In [ ]:
kn_pred = model_2.predict([[9.0, 9.0, 9.0, 9.0, 8.0]])
print(kn_pred)

['Ethiopia Banko Gotiti Natural G1']

In [ ]:
coffee[coffee['name'] == 'Ethiopia Banko Gotiti Natural G1']

,name,origin,rating,roaster,aroma,acid,body,flavor,aftertaste,desc_1,desc_2,desc_3
52,Ethiopia Banko Gotiti Natural G1,"Kochere, Yirgacheffe growing region, south-cen...",94,Green Stone Coffee,9.0,9.0,9.0,9.0,8.0,"Crisp, sweetly tart. Dark chocolate, pie cherr...",This coffee tied for the third-highest rating ...,An inviting natural-processed coffee from Ethi...

**Random Forest**

In [ ]:
model_3.fit(X.values, y)

RandomForestClassifier()

In [ ]:
rf_pred = model_2.predict([[9.0, 9.0, 9.0, 9.0, 8.0]])
print(rf_pred)

['Ethiopia Banko Gotiti Natural G1']

In [ ]:
coffee[coffee['name'] == 'Ethiopia Banko Gotiti Natural G1']

,name,origin,rating,roaster,aroma,acid,body,flavor,aftertaste,desc_1,desc_2,desc_3
52,Ethiopia Banko Gotiti Natural G1,"Kochere, Yirgacheffe growing region, south-cen...",94,Green Stone Coffee,9.0,9.0,9.0,9.0,8.0,"Crisp, sweetly tart. Dark chocolate, pie cherr...",This coffee tied for the third-highest rating ...,An inviting natural-processed coffee from Ethi...