<a href="https://colab.research.google.com/github/Hanifanta/Capstone_RECCOFFEE/blob/main/notebook/reccoffee_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Import Library**

In [1]:
pip install joblib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (1.2.0)

In [2]:
# Data loading and data analysis
import pandas as pd
import joblib

# Modelling
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

##**Data Preprocession**

In [3]:
coffee = pd.read_csv('/content/coffee_clean_rev.csv')
coffee.head(5)

,slug,name,origin,rating,roaster,aroma,acid_or_milk,body,flavor,aftertaste,desc_1,desc_2,desc_3
0,https://www.coffeereview.com/review/ethiopia-r...,Ethiopia Reko Yirgacheffe,"Yirgacheffe growing region, southern Ethiopia",94,Temple Coffee,9.0,9.0,9.0,9.0,8.0,"Rich-toned, deeply floral. White peach, tea ro...",Produced by the Reko Farming Cooperative from ...,A classic washed Yirgacheffe cup driven by not...
1,https://www.coffeereview.com/review/double-ana...,Double-Anaerobic Fermentation Tamiru Tadesse,"Sidamo growing region, south-central Ethiopia",94,Genesis Coffee Lab,9.0,9.0,9.0,9.0,8.0,"Richly floral-toned, crisply sweet. Honeysuckl...",Produced by Tamiru Tadesse of Alo Coffee. Sout...,A floral-driven anaerobic Ethiopia cup free of...
2,https://www.coffeereview.com/review/ethiopia-c...,Ethiopia Chelbesa Danche Yirgacheffe,"Chelchele, Gedeb District, Gedeo Zone, Ethiopia",94,Jaunt Coffee Roasters,9.0,9.0,9.0,9.0,8.0,"Elegantly sweet, floral-toned. Lilac, almond, ...",Produced by the METAD farm and mill in souther...,"A brightly sweet, fragrantly floral-driven was..."
3,https://www.coffeereview.com/review/ethiopia-h...,Ethiopia Honey Process Tamiru Tadesse,"Sidamo growing region, south-central Ethiopia",94,Genesis Coffee Lab,9.0,9.0,9.0,9.0,8.0,"Delicately fruit-toned, tisane-like. Dried str...",Produced by Tamiru Tadesse of Alo Coffee. Sout...,"A delicate, elegant, honey-processed Sidamo cu..."
4,https://www.coffeereview.com/review/colombia-p...,Colombia Planadas Tolima,"Tolima, Colombia",93,Jaunt Coffee Roasters,9.0,9.0,8.0,9.0,8.0,"Delicate, richly aromatic. Pineapple, almond n...",Produced by Jorge Elias Rojas entirely of the ...,"A lovely Colombia Geisha cup, finely tea-like ..."

In [4]:
data = coffee.filter(['aroma', 'acid_or_milk', 'body', 'flavor', 'aftertaste', 'name'])
data.head(5)

,aroma,acid_or_milk,body,flavor,aftertaste,name
0,9.0,9.0,9.0,9.0,8.0,Ethiopia Reko Yirgacheffe
1,9.0,9.0,9.0,9.0,8.0,Double-Anaerobic Fermentation Tamiru Tadesse
2,9.0,9.0,9.0,9.0,8.0,Ethiopia Chelbesa Danche Yirgacheffe
3,9.0,9.0,9.0,9.0,8.0,Ethiopia Honey Process Tamiru Tadesse
4,9.0,9.0,8.0,9.0,8.0,Colombia Planadas Tolima

In [5]:
data.rename(columns=({'name':'label'}), inplace=True)
data.head(5)

,aroma,acid_or_milk,body,flavor,aftertaste,label
0,9.0,9.0,9.0,9.0,8.0,Ethiopia Reko Yirgacheffe
1,9.0,9.0,9.0,9.0,8.0,Double-Anaerobic Fermentation Tamiru Tadesse
2,9.0,9.0,9.0,9.0,8.0,Ethiopia Chelbesa Danche Yirgacheffe
3,9.0,9.0,9.0,9.0,8.0,Ethiopia Honey Process Tamiru Tadesse
4,9.0,9.0,8.0,9.0,8.0,Colombia Planadas Tolima

##**Modelling**

In [6]:
X = data.iloc[:, 0:-1]
y = data.iloc[:, -1]

In [7]:
model = svm.SVC()
model_2 = KNeighborsClassifier()
model_3 = RandomForestClassifier(n_estimators=100)

**SVM**

In [8]:
model.fit(X.values, y)

SVC()

In [9]:
svm_pred = model.predict([[9.0, 9.0, 9.0, 9.0, 8.0]])
print(svm_pred)

['Yule Blend 2018']

In [10]:
coffee[coffee['name'] == 'Yule Blend 2018']

,slug,name,origin,rating,roaster,aroma,acid_or_milk,body,flavor,aftertaste,desc_1,desc_2,desc_3
2056,https://www.coffeereview.com/review/yule-blend...,Yule Blend 2018,"Kirinyaga District, south-central Kenya",94,Flight Coffee Co.,9.0,9.0,9.0,9.0,8.0,"Crisp, sweet-savory. Mulberry, pink peppercorn...",This coffee tied for the third-highest rating ...,"A balanced, savory-leaning and richly sweet bl..."

**KN Classifier**

In [11]:
model_2.fit(X.values, y)

KNeighborsClassifier()

In [12]:
kn_pred = model_2.predict([[9.0, 9.0, 9.0, 9.0, 8.0]])
print(kn_pred)

['Colombia Tres Dragones']

In [13]:
coffee[coffee['name'] == 'Colombia Tres Dragones']

,slug,name,origin,rating,roaster,aroma,acid_or_milk,body,flavor,aftertaste,desc_1,desc_2,desc_3
45,https://www.coffeereview.com/review/colombia-t...,Colombia Tres Dragones,"Caicedonia, Valle de Cauca Department, Colombia",94,Bird Rock Coffee Roasters,9.0,9.0,9.0,9.0,8.0,"Richly chocolaty, sweetly fermenty. Cherry cor...",Produced by Rigoberto and Rodrigo Herrera of F...,"A delicately fermenty, richly chocolaty fruit ..."

**Random Forest**

In [14]:
model_3.fit(X.values, y)

RandomForestClassifier()

In [15]:
rf_pred = model_3.predict([[9.0, 9.0, 9.0, 9.0, 8.0]])
print(rf_pred)

['Ethiopia Kayon Mountain']

In [16]:
coffee[coffee['name'] == 'Ethiopia Natural Yirgacheffe Blue Donkey Lot #2']

,slug,name,origin,rating,roaster,aroma,acid_or_milk,body,flavor,aftertaste,desc_1,desc_2,desc_3
1494,https://www.coffeereview.com/review/ethiopia-n...,Ethiopia Natural Yirgacheffe Blue Donkey Lot #2,"Kochere, Yirgacheffe growing region, south-cen...",94,Kakalove Cafe,9.0,9.0,9.0,9.0,8.0,"Delicate, berry-toned, deeply sweet. Wild stra...",Coffees from the Yirgacheffe region are produc...,An exceptionally purely expressed natural-proc...

Because the three models have the same results and accuracy, we choose to use the SVM model on deployment and production phase.

**Export KN Classifier Model**

In [17]:
# SVM model is stored in the "model" variable
joblib.dump(model,'./svm_model.pkl')

['./svm_model.pkl']